@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Nunito", sans-serif;
    @apply bg-slate-900
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input{
    @apply focus:outline-none focus:ring focus:ring-slate-50 
}

